.preloader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0f0f0f;
}

.hexagon-loader {
  display: flex;
  flex-direction: column;
  gap: 8px;
  animation: rotate 2s linear infinite;
}

.hex-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.hex {
  width: 30px;
  height: 30px;
  background-color: #ff4d8b;
  clip-path: polygon(
    25% 6.7%,
    75% 6.7%,
    100% 50%,
    75% 93.3%,
    25% 93.3%,
    0% 50%
  );
  animation: pulse 1.5s infinite ease-in-out alternate;
}

.hex.white {
  background-color: white;
}
.hex.pink {
  background-color: #ff4d8b;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
